<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document- server</title>
</head>
<body>
    Yo! My code works! what is 2 + 2? 
    <br>
    Yes! Answer is <%= text %>.
</body>
</html>